body{
   background-image:url("https://wallpaper-gallery.net/images/cool-superhero-backgrounds/cool-superhero-backgrounds-10.jpg");
}

h1{
font-family:Cinzel;
font-size:200%;
}
a{
color:blue;
}
a:hover{
color:red;
}